{% extends "base.html" %}

{% block feedlinks %}
   {% if type %}
      {% ifequal type "news item" %}
	<link href="feeds/news/" rel="alternate" type="application/rss+xml" title="Latest news items" />
      {% else %}
	<link href="/feeds/{{ type }}s/" rel="alternate" type="application/rss+xml" title="Latest {{ type }} items" />
      {% endifequal %}
   {% endif %}
{% endblock %}

{% block home %}class="active"{% endblock %}

{% block sidebar %}
<ul>
    <li>
        <h2>Categories</h2>
        <ul>
            <li><a href="/news/1/">News</a></li>
            <li><a href="/minutes/1/">Minutes</a></li>
            <li><a href="/newsletters/1/">Newsletters</a></li>
        </ul>
    </li>
    {% include "events/future.html" %}
    <li>
    {% if dates %}
        <h2>Archives</h2>
        <ul id="archivelist">
            {% for year,month in dates %}
                <li><a href="/month{{ type|slugify }}s/{{ year }}/{{ month }}/">{{ month }} {{ year }}</a></li>
            {% endfor %}
        </ul>
        <a id="archivemore" href="#" onclick="$('#archivelist').animate({ height: $('#archivelist').height()+196 },1000); return false;">Show more</a>
    {% endif %}
    {% if type %}
        <h2>Feeds</h2>
        {% ifequal type "news item" %}
            <ul>
                <li><a href="/feeds/news/">RSS</a></li>
                <li><a href="/feeds/news/atom/">Atom</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="/feeds/{{ type }}s/">RSS</a></li>
                <li><a href="/feeds/{{ type }}s/atom/">Atom</a></li>
            </ul>
        {% endifequal %}
    {% endif %}
    </li>
</ul>
{% endblock %}
