{% extends "comms/base.html" %}

{% block content %}
<SCRIPT TYPE="text/javascript">
<!-- 
    var names = [];
{% if object_list %} 
    {% for comm_item in object_list %}
    names.push('{{comm_item.title}}');
    {% endfor %}
{% endif %}
    
    function checkInput(value,e)
    {
        var code;
        if (!e) var e = window.event;
        if(e)
        {
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            var searchFor = (code == 8) ? value.substring(0,value.length-1) : value+String.fromCharCode(code);
            for(var i = 0;i<names.length;i++)
            {
                var name = names[i];
                var visible = (name.search(searchFor) > -1)?"block":"none";
                var ele = document.getElementById(name);
                if(ele) ele.style.display = visible;
                else alert('fail');
            }
        }
    }
//-->
</SCRIPT>

<script type="text/javascript">

</script>

{% if object_list %}
    {% for comm_item in object_list %}
        <div id="{{ comm_item.title }}"/>
            <div class="post">
                <h1 class="title">{{ comm_item.title }}</h1>
                <p class="byline"><small>Posted on {{ comm_item.date }} | <a href="/admin/comms/communication/{{ comm_item.id }}/">Edit</a></small></p>
                <div class="entry">
                {{ comm_item.text }}
                </div>
                <p class="meta"><a href="/details/{{ comm_item.id }}" class="more">Details</a></p>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% ifnotequal page "last" %}
            <a href="{{ page|add:"1" }}">more</a>
        {% endifnotequal %}
    {% endif %}
{% else %}
    <p>No Items are available.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<ul>
    <li>
        <form>
            <input type="text" name="searchBox"onkeypress="checkInput(this.value,event);" />
        </form>
        <br />
    </li>
    <li>
        <h2>Categories</h2>
        <ul>
            <li><a href="/news/1/">News</a></li>
            <li><a href="/minutes/1/">Minutes</a></li>
            <li><a href="/newsletters/1/">Newsletters</a></li>
        </ul>
    </li>
<!--<li>
        <h2>Archives</h2>
        <ul>
            <li><a href="#">September</a> (23)</li>
            <li><a href="#">August</a> (31)</li>
            <li><a href="#">July</a> (31)</li>
            <li><a href="#">June</a> (30)</li>
            <li><a href="#">May</a> (31)</li>
            <li><a href="#">April</a> (30)</li>
            <li><a href="#">March</a> (31)</li>
            <li><a href="#">February</a> (28)</li>
            <li><a href="#">January</a> (31)</li>
        </ul>
    </li>-->
</ul>
{% endblock %}
