{% extends "comms/base.html" %}
{% load markup %}

{% block ttitle %}{{ object.title }}{% endblock %}

{% block content %}
<div class="post">
    {% if user.is_staff %}
        <a class="edit" href="/admin/comms/communication/{{ object.id }}/">Edit</a>
    {% endif %}
    <h2 class="title">{{ object.title }}</h2>
    <p class="byline"><p><small>{{ object.get_type_display }} Posted on {{ object.date }}</small></p>
    <div class="entry">
    {{ object.text|markdown }}
    </div>
</div>
{% endblock %}
