{% extends "base.html" %}

{% block sidebar-outer %}{% endblock %}

{% block next %}/{% endblock %}

{% block content %}
<div class="box">
    {% if form %}
    <p>Please enter your new password</p>
    <form action="" method="POST">
        {{ form.as_p }}
        <div class="input">
            <input type="submit" value="submit"/>
        </div>
    </form>
    {% else %}
    <p>Sorry, you must have followed an invalid or expired link for a password reset request.</p>
    {% endif %}
</div>

{% endblock %}
