{% extends "admin/base_site.html" %}

{% block title %}
    Accept or Reject guest accounts
{% endblock %}

{% block content %}
    <table>
    <tr><th/><th/><th>Username</th><th>Name</th><th>Email</th><th>Reason</th><th>Date of request</th></tr>
    {% for acc in guests %}
        <tr>
            <td><a href="/admin/memberinfo/acceptguest/{{ acc.id }}/">accept</a></td>
            <td><a href="/admin/memberinfo/rejectguest/{{ acc.id }}/">reject</a></td>
            <td>{{ acc.username }}</td>
            <td>{{ acc.first_name }} {{ acc.last_name }}</td>
            <td>{{ acc.email }}</td>
            <td>{{ acc.guestreason.reason }}</td>
            <td>{{ acc.date_joined }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block precontent %}
<div style="height: 50px;">
  <div id="actions">
    <h2>Links</h2>
    <ul>
        <li><a href="/admin/auth/user/">All Members</a></li>
    </ul>
  </div>
</div>
{% endblock %}
