 {% extends "tracker/base.html" %}

 {% block ttitle %}Issue Search{% endblock %}

 {% block morehead %}
    <link href="/static/css/tracker.css" rel="stylesheet" type="text/css" media="screen">
<!--    <script type="text/javascript" src="/admin/jsi18n/"></script>-->
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/calendar.js"></script>
    <script type="text/javascript" src="/static/js/DateTimeShortcuts.js"></script>
    <script type="text/javascript">
        function flip(block_id,arrow_id) {
            var style = document.getElementById(block_id).style;
            var arrow = document.getElementById(arrow_id);
            if(style.display == 'none') {
                style.display = 'block';
                arrow.innerHTML = '&#x21E9;&nbsp;';
            } else {
                style.display = 'none';
                arrow.innerHTML = '&#x21E8;&nbsp;';
            }
        }

        function advanced() {
            if ($('#advanced').attr('checked')) {
                alter('fadeIn');
            } else {
                alter('fadeOut');
            }
        }

        function alter(action) {
            $.each([
                'Description','Submitter group','Submitter',
                'Deadline','Assignee group','Submitted'],
                function() { $(".resize:contains('"+this+"')")[action]();})
        }

        $(document).ready(function() {
            alter('hide');
            $('#advanced').click(advanced)
        })
    </script>
 {% endblock %}

 {% block sidebar %}
    <ul>
        <li>
            <h2>Actions</h2>
            <ul>
                <li><a href="/tickets/new">New Issue</a></li>
                {% if user.is_staff %}
                    <li><a href="http://uwcs.co.uk/admin/tracker/goal/add/">New Goal</a></li>
                {% endif %}
            </ul>
            <h2>Shortcuts</h2>
            <ul>
                {% for name,values in shorts %}
                <li>
                <form action="/tickets/" method="POST">
                    {% for fname,val in values %}
                        <input type="hidden" name="{{fname}}" value="{{val}}" />
                    {% endfor %}
                    <input type="submit" value="{{ name }}" />
                </form>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
 {% endblock %}


 {% block content %}
     <h2><a onClick="flip('tickets','tk')">
        <div id="tk" style="display:inline" >&#x21E8;&nbsp;</div> Issue Search
     </a></h2>
     <div id="tickets" style="display:none">
         <form action="/tickets/" method="POST">
             <br />
             <fieldset>
             {% for field in form %}
                 <div class="resize">
                    <div class="inl">{{ field.label_tag }} </div>
                    <div class="inr">{{ field }}</div>
                    <div >{{ field.errors }}</div>
                 </div>
             {% endfor %}
             </fieldset>
             <p class="submit"><input type="submit" value="search" /></p>
         </form>
         <div class="advanced">
            <label for="advanced">Advanced Mode </label>
            <input id="advanced" type="checkbox" onClick="advanced():"/>
         </div>
     </div>
     <hr />
     <br />
  
    <div id="results">
    {% if results %}
        {% for goal,tickets in results %}
        <h3>{{ goal }}</h3>
            <table class="comments">
                <tr>
                    <th>Name</th>
                    <th>Submitted by</td>
                    <th>Assigned to</td>
                    <th>Completed</td>
                </tr>
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{{ ticket.get_absolute_url }}">{{ticket.title}}</a></td>
                    <td>{{ ticket.submitter.member.name }}</td>
                    <td>{{ ticket.assignee.member.name }}</td>
                    <td>
                        {% if ticket.completed %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    {% else %}
        <p>No search results to display</p>
    {% endif %}
    </div>
     
 {% endblock %}

