/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


body, html {
	height: 100%;
	min-width: 800px;
}

#admin-header a {
	color: #F0BC20;
	text-decoration: underline;
}

#admin-header a:hover {
	text-decoration: none;
	color: #46B;
}

#admin-header #menu a:hover {
	color: #ddd;
}

/* Footer */

#container {
    min-height: 100%;
    margin-bottom: -40px;
}
* html #container {
    height: 100%;
}
#footer-spacer {
    height: 40px;
	clear: both;
}

#footer {
	border-top: 1px solid #aaa;
	background-color: #111;
	color: #aaa;
	height: 29px;
	font-size: 0.9em;
	text-align: right;
	padding: 5px;
}

/* Header */

#admin-header {
	width: 100%;
	height: 175px;
	padding-top: 20px;
	margin: 0px; /*auto;*/
	border-bottom: 1px solid #aaa;
	background-color: #111;
	color: #ddd;
	font-size: 13px;
	font-weight: normal;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

/* Logo */

#logo {
	margin-left: 30px;
	margin-bottom: 50px;
}

#logo img {
	float: left;
	margin-top:8px;
}

#logo h1 {
	font-size: 2em;
	font-weight: normal;
	color: #ddd;
	padding-top: 40px;
	padding-left: 3em;
	margin: 0px;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #ddd;
}

#logo p {
	margin: -5px 0 0 0;
	/*text-transform: uppercase;*/
	font-size: 1.22em;
	/*letter-spacing: -1px;*/
}

#logo a {
	text-decoration: none;
	color: #ddd;
}

/* Top Right */

#top-right {
	float: right;
	margin-right: 40px;
	padding-top: 15px;
	text-align: right;
}

#top-right input {
	width: 170px;
	margin-top: 10px;
	background: #181818 url(/static/img/magnifier.png) no-repeat 2px center;
	padding-left: 20px;
	color: #ddd;
	border: 1px solid #888;
}

/* #top-right form {
    display: inline;
    margin: 0;
    padding: 0;
} */

/* Menu */

#menu {
	float: right;
	margin-right: 40px;
}

#menu ul {
	margin: 0px;
	/*padding: 93px 0px 0px 0px;*/
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	/*text-transform: lowercase;*/
	font-size: 1.6em;
	padding: 5px 0 5px 0;
	color: #ddd;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #ddd;
}

/* Admin page elements */

#changelist-filter {
	top: 253px;
	right: 14px;
}

#actions h2 {
	float: left;
	width: 150px;
	padding-left: 10px;
}

#actions ul {
	float: left;
	display: inline;
	margin: 0;
	padding: 18px 0 0 0;
}
#actions li {
	display: inline;
	padding-left: 10px;
	font-size: 1.2em;
}

.login #menu, .login #top-right, .login #footer {
	display: none;
}
.login #container, body.login {
	height: auto !important;
}
.login #logo img {
	padding-right: 10px;
}