/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body, html, form {
	margin: 0;
	padding: 0;
}

body, html {
	background: #222;
	font-size: 13px;
	color: #ccc;
	height: 100%;
	min-width: 800px;
}

body, th, td, input, textarea, select, option {
	font-weight: normal;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	font-size: 24px;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #F0BC20;
}

a:hover {
	text-decoration: none;
	color: #46B;
}

#page input, input, textarea, select {
	color: #ddd;
	border: 1px solid #888;
	background-color: #181818;
}

/* Footer */

#container {
    min-height: 100%;
    margin-bottom: -40px;
}
* html #container {
    height: 100%;
}
#footer-spacer {
    height: 40px;
	clear: both;
}

#footer {
	border-top: 1px solid #aaa;
	background-color: #111;
	color: #aaa;
	height: 29px;
	font-size: 85%;
	text-align: right;
	padding: 5px;
}

/* Header */

#header {
	width: 100%;
	height: 175px;
	padding-top: 20px;
	margin: 0px; /*auto;*/
	border-bottom: 1px solid #aaa;
	background-color: #111;
	color: #ddd;
}

/*#header hr {
    margin-left: 15%;
    margin-right: 15%;
}*/

/* Logo */

#logo {
	margin-left: 30px;
	margin-bottom: 50px;
}

#logo img {
	float: left;
	margin-top:8px;
}

#logo h1 {
	font-size: 2em;
	font-weight: normal;
	color: #ddd;
	padding-top: 40px;
	padding-left: 3em;
	margin: 0px;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #ddd;
}

#logo p {
	margin: -5px 0 0 0;
	/*text-transform: uppercase;*/
	font-size: 1.22em;
	/*letter-spacing: -1px;*/
}

#logo a {
	text-decoration: none;
	color: #ddd;
}

/* Top Right */

#top-right {
	float: right;
	margin-right: 40px;
	padding-top: 15px;
	text-align: right;
}

#top-right input {
	width: 170px;
	margin-top: 10px;
	background: #181818 url(/static/img/magnifier.png) no-repeat 2px center;
	padding-left: 20px;
}

/* #top-right form {
    display: inline;
    margin: 0;
    padding: 0;
} */

/* Menu */

#menu {
	float: right;
	margin-right: 40px;
}

#menu ul {
	margin: 0px;
	/*padding: 93px 0px 0px 0px;*/
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	/*text-transform: lowercase;*/
	font-size: 1.36em;
	color: #ddd;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #ddd;
}


/* Page */

#page {
	margin-top: 30px;
	margin-left: 150px; /* roughly width of logo */
	margin-bottom: 20px;
}

/* Content */

#content {
	margin-right: 250px;
}

/* News */

a.edit {
	float: right;
	padding: 5px;
	font-weight: bold;
}

.entry p {
	margin: 10px;
}
.post {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #333;
}

.title {
	margin: 0;
	border-bottom: 2px solid #484848;
}

.byline {
	margin: 0;
}

.meta, .meta p {
	text-align: right;
	margin: 0;
	padding: 0px;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 200px;
	margin-right: 25px;
	border: 4px solid #aaa;
	margin-bottom: 20px;
	background-color: #aaa;
}

#sidebarinner {
	background-color: #222;
}

#sidebar ul {
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

#sidebar li {
	margin-left: 10px;
}

#sidebar li ul {
	padding: 15px 0;
}

#sidebar li li a, #sidebar li li form  {
	padding-left: 20px;
}

#sidebar li li a {
	padding-left: 20px;
	width: 141px;
	display: block;
	border-bottom: 1px dotted #bbb;
}

#sidebar h2 {
	margin: 0;
	padding: 5px 0 0 20px;
}

#sidebar a {
	text-decoration: none;
	color: #3193FF;
}

#profile p {
	margin-left: 10px;
}

#profile h3 {
	font-size:2em;
}

#profile h2 {
	font-size:3em;
}

.search_result a {
	font-size: large;
}

.result_text {
	font-size: smaller;
}

.submit {
	float: right;
}

.crumbs {
	margin-bottom: 20px;
}