/*** Basic Setup ***/

/* Reset everything to give us a chance of a clean start in all browsers */
html, body, p, ul, ol, li, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
	list-style: none;
	border: 0;
}

input {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
}

/* Set some defaults */

body {
	font-size: 0.85em;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

p {
	line-height: 200%;
}

/*** Layout ***/

body, html {
	height: 100%;
} 

body {
	margin: 0 auto;
	min-width: 800px;
	max-width: 1200px;
	text-align: left;
}

html {
	text-align: center;
}

#container {
    min-height: 100%;
    margin-bottom: -40px;
}

/* IE6 Hack for min-height */
* html #container {
    height: 100%;
}

/* Footer */

#footer-spacer {
	margin-top: 20px;
    height: 40px;
	clear: both;
}

#footer {
	height: 29px;
	font-size: 0.8em;
	text-align: right;
	padding: 5px;
}

/* Header */

#header {
	width: 100%;
	padding-top: 20px;	
	height: 175px;
}

#logo {
	padding: 5px 0 0 30px;
}

#logo img {
	vertical-align: top;
}

#logo h1 {
	display: inline;
}

#logo h1 img {
	padding-top: 10px;
}

/* Top right box */

#top-right {
	float: right;
	padding-right: 30px;
	padding-top: 15px;
	text-align: right;
}

/* Search box */
#top-right input {
	width: 170px;
	margin-top: 10px;
	padding-left: 20px;
}

/* Menu */

#menu {
	margin-top: -10px;
	float: right;
	padding-right: 30px;
}

#menu ul {
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	font-size: 1.36em;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 200px;
	margin-left: 20px;
	margin-right: 30px;
	/* Horrific IE6 Hack */
	-margin-right: 15px;
}

#sidebar ul {
	padding: 10px 0;
}

#sidebar li {
	margin-left: 10px;
}

#sidebar li li form  {
	padding-left: 15px;
	margin: 10px;
}

#sidebar li li a {
	padding: 5px 5px 5px 20px;
	width: 141px;
	display: block;
}

#sidebar h2 {
	padding: 5px 0 0 20px;
}

#sidebar .cms {
	margin: 10px 10px 10px 5px;
	padding-bottom: 10px;
}

#sidebar ul .cms ul {
	padding: 0 0 0 15px;
}

#sidebar ul .cms li {
	padding-top: 5px;
}

#sidebar ul .cms li a {
	display: inline;
	border: 0;
	padding: 0;
}

#sidebar form.revisions input {
 margin: 10px;
}

/* Page layout */

#page {
	margin-top: 30px;
	margin-left: 30px;
}

#content {
	margin-right: 260px;
}

/* Content layout */

dl {
	margin: 10px;
	padding: 0px
}

dt {
	float: left;
	width: 13em;
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
	line-height: 1em;
}

dd {
	margin-bottom: 5px;
	margin-left: 190px;
}

h2, h3 {
	font-weight: normal;
	font-size: 24px;
}

p {
	margin: 10px;
}

/* Specific items */

/* Admin edit buttons */
a.edit {
	float: right;
	padding: 5px;
	font-weight: bold;
}

.post {
	padding: 20px;
	margin-bottom: 20px;
}

.meta, .meta p {
	text-align: right;
	margin: 0;
}


/*** Colours ***/

body {
	color: #ccc;
	background-color: #222;
}

html {
	background-color: #444;
}

a {
	color: #F0BC20;
}

a:hover {
	text-decoration: none;
	color: #46B;
}

input, input, textarea {
	color: #ddd;
	border: 1px solid #888;
	background-color: #181818;
}

#footer, #container {
	border-right: 1px solid #888;
	border-left: 1px solid #888;
}

#container {
	background-color: #222;
}

#footer {
	border-top: 1px solid #aaa;
	background-color: #111;
	color: #aaa;
}

#header {
	border-bottom: 1px solid #aaa;
	background-color: #111;
	color: #ddd;
}

#menu a {
	color: #ddd;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #ddd;
}

#sidebar {
	background: #333 url(/static/img/sidebg.png) repeat-y left;
	border: 1px solid #444;
}

#sidebar {
	float: right;
	width: 200px;
	margin-left: 20px;
	margin-right: 30px;
	/* Horrific IE6 Hack */
	-margin-right: 15px;
}

#sidebar li li a {
	border-bottom: 1px dotted #bbb;
	text-decoration: none;
	color: #3193FF;
}

#sidebar .cms {
	border-top: 1px dotted #bbb;
	border-bottom: 1px dotted #bbb;
}


/* Search box */
#top-right input {
	background: #181818 url(/static/img/magnifier.png) no-repeat 2px center;
	border: 1px solid #888;
}

/* Specific items */

.post {
	background: #222 url(/static/img/postbg.png) repeat-x top;
	border: 1px solid #333;
}

.title {
	border-bottom: 2px solid #484848;
}

/* TODO: Tidy up the rest of this */

.notification {
	text-align: center;
	background-color: #333;
	padding: 10px;
}


#profile p {
	margin-left: 10px;
}

#profile h3 {
	font-size:2em;
}

#profile h2 {
	font-size:3em;
}

.search_result a {
	font-size: large;
}

.result_text {
	font-size: smaller;
}

.submit {
	float: right;
}

.crumbs {
	margin-bottom: 20px;
}

.box label, .box input, .box textarea {
	margin: 10px 20px;
	float: left;
}

.box textarea {
	width: 90%;
}

.box label {
	width: 70px;
	font-weight: bold;
}

.box label, .box h2 {
	clear: left;
}
.box ul {
	clear: left;
	padding-left: 100px;
	margin: 0;
}
.box li, .box p, .box ul, .box li, .box input, .box label, .box * {
	margin: 0;
	padding: 0;
}
.box {
	border-bottom: 1px solid #888;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.box p {
	margin-left: 20px;
}

.box .errorlist li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.box .errorlist {
	display: block;
	padding: 5px 10px;
	margin-left: 50px;
	width: 300px;
	background-color: #333;
}

p.comment {
	background-color: #444;
	padding: 5px 10px;
	margin: 10px;
}

.clear {
	clear: both;
	height: 0;
	width: 0;
}