
#events_table {
    border-width: 1px 1px 1px 1px;
    border-style: solid; /*outset outset outset outset;*/
    border-collapse:collapse;
    border-spacing: 2px;
    border-color:black;
    background-color: black;
    width:100%;
}

#events_head th {
    font-size: larger;
    font-weight: bold;
    background-color:#5C5555;
}

#events_table td {
    background-color:#565656;
}

td.time {
    width: 220px;
    height:5em;
}

td.short_desc {
    height:2em;
    border-bottom: 1px solid black;
}

#events_table th {
    border: 1px solid black;
}

#calendar table {
    border-width: 1px 1px 1px 1px;
    border-style: solid; /*outset outset outset outset;*/
    border-collapse:collapse;
    border-spacing: 2px;
    background-color: black;
}

#calendar th {
    font-size: larger;
    font-weight: bold;
    background-color:#5C5555;
}

#calendar td {
    height:10em;
    width:10em;
    background-color:#565656;
    vertical-align: top;
}

.day {
    float: right;
}

.week {
    float: left;
}

#comments table {
    border-width: 1px 1px 1px 1px;
    border-spacing: 2px;
    background-color: black;
    width: 100%;
}

#comments th {
    font-size: larger;
    font-weight: bold;
    background-color:#5C5555;
    border: 5px solid #5C5555;
}

#comments td {
    font-size: larger;
    background-color:#565656;
    height: 4em;
    vertical-align: top;
    border: 5px solid #565656;
}

.time {
    vertical-align: bottom;
    font-size: 10px;
}

.entry th {
    font-weight: bold;
    text-align: left;
}
