<head>
    <link href="/static/css/ballot_form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>Online votes for {{ election.date.year }} elections as of {{ now|date:"H:i, D j N Y" }}</h1>
    <p>Online votes should have closed at {{ election.close_date|date:"H:i, D j N Y" }}</p>
    {% regroup votes by voter as ballots %}
    {% for ballot in ballots %}

    <div class="ballot">
    {% regroup ballot.list by candidate.position as positions %}
    {% for position in positions %}
        <h1>{{ position.grouper }}</h1>
        <table>
            <tr><th>Candidate</th><th>Preference</th>
            {% for vote in position.list %}
            <tr><td>{{ vote.candidate.user.member.all_name }}</td><td>{{ vote.preference }}</td>
            {% endfor %}
        </table>
    {% endfor %}
    </div>
    <br/>
    {% endfor %}
</body>
