{% extends "base.html" %}

{% block ttitle %}{{ election.date.year }} Elections{% endblock %}

{% block content %}
<h2>{{ election.date.year }} Elections</h2>

<p>Proxy votes close at {{ election.close_date }}</p>
<p>Please enter your order of preference for each candidate below. 1 is the highest preference, #candidates + 1 is the lowest preference. If you leave certain candidates blank, then it will be considered as "no further preferences".</p>
<p>Please note: <b>You only get one chance to vote!</b> If you fill in the form incorrectly then you will have another chance, but there is no recasting.</p>

<form action="/elections/details/{{ election.id }}/" method="post">
    {% regroup stuff by 0.position as position_list %}
    {% for position in position_list %}
    <div class="post">
    <h2>{{ position.grouper }}</h2>

    {% for candidate,form in position.list %}
    <p><b>Name: {{candidate.user.member.all_name}}</b></p>
    <p>Manifesto: {{candidate.manifesto}}</p>
    {{ form.as_p }}
    {% endfor %}
</div>
    {% endfor %}
<input type="submit" value="Cast Vote">
</form>
{% endblock %}
