{% extends "memberinfo/base.html" %}

{% block morehead %}
    <script type="text/javascript">
        function flip(block_id,arrow_id) {
            var style = document.getElementById(block_id).style;
            var arrow = document.getElementById(arrow_id);
            if(style.display == 'none') {
                style.display = 'block';
                arrow.innerHTML = '&#x21E9;';
            } else {
                style.display = 'none';
                arrow.innerHTML = '&#x21E8;';
            }
        }
    </script>
{% endblock %}


{% block sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="/password/">change website password</a></li>
        {% if shell.isPresent %}
           <li><a href="/memberinfo/reset/shell/">request shell password reset</a></li>
        {% endif %}
        {% if db.isPresent %}
            <li><a href="/memberinfo/reset/db/">request database password reset</a></li>
        {% endif %}
        <li>
    </ul>
{% endblock %}

{% block content %}
<div id="profile">
<h2>Profile</h2>

    <a onClick="flip('shell','sh')">
        <h4><div id="sh" style="display:inline">&#x21E8;</div>Shell Account</h4>
    </a>
    <div id="shell" style="display:none">
    {% if shell %}
        {% if shell.isPresent %}
            <p>You have a shell account with the username "{{ shell.name }}"</p>
        {% else %}
            <p>You have requested a shell account with the username "{{ shell.name }}"</p>
        {% endif %}
    {% else %}
        <p>You don't have a shell account, you may request one here.</p>
        <form action="/member/shell/" method="post">
            <p>
                <label for="id_shell">Account Name:</label>
                <input id="id_shell" type="text" name="shell" />
            </p>
            <input id="profile_submit" type="submit" value="request" />
        </form>
    {% endif %}
    <hr />
    </div>

    <a onClick="flip('db','dh')">
        <h4><div id="dh" style="display:inline">&#x21E8;</div>Database Account</h4>
    </a>
    <div id="db" style="display:none">
    {% if db %}
        {% if db.isPresent %}
            <p>You have a database account with the username "{{ db.name }}"</p>
        {% else %}
            <p>You have requested a database account with the username "{{ db.name }}"</p>
        {% endif %}
    {% else %}
        <p>You don't have a database account, you may request one here.</p>
        <form action="/member/database/" method="post">
            <p> 
                <label for="id_db">Account Name:</label>
                <input id="id_db" type="text" name="db" />
            </p>
            <input type="submit" value="request" />
        </form>
    {% endif %}
    <hr />
    </div>

    <a onClick="flip('quota','qh')">
        <h4><div id="qh" style="display:inline">&#x21E8;</div>Quota</h4>
    </a>
    <div id="quota" style="display:none">
    <p>Your total quota is {{ total_quota }}MB.  The current base quota is 1000MB and you have additionally bought {{ quota }}
    blocks of extra quota.</p>
    {% if req_quota %}
        <p>You have {{ req_quota }}MB of quota on request.</p>
    {% endif %}
    <p>Disk quota currently costs £2.50 for 500MB and more can be requested here.
    The society treasurer will contact you, in order to obtain payment.</p>
    <!-- TODO: some client side input validation -->
    <form action="/member/quota/" method="post">
        <p>
            <label for="id_quota">Units (x500MB) quota:</label>
            <input id="id_quota" type="text" name="quota" />
        </p>
        <input type="submit" value="request" />
    </form>
    <hr />
    </div>

    <a onClick="flip('lists','lh')">
        <h4><div id="lh" style="display:inline">&#x21E8;</div>Mailing Lists</h4>
    </a>
    <div id="lists" style="display:none">
    <form action="/member/lists/" method="post">
    {% for list in my_lists %}
        <p>
            <label for="id_{{ list }}">{{ list }}</label>
            <input id="id_{{ list }}" type="checkbox" name="{{ list }}" checked="yes" />
        </p>
    {% endfor %}
    {% for list in other_lists %}
        <p>
            <label for="id_{{ list }}">{{ list }}</label>
            <input id="id_{{ list }}" type="checkbox" name="{{ list }}" checked="yes" />
        </p>
    {% endfor %}
    <input type="submit" value="set" />
    </form>
    <hr />
    </div>

    <a onClick="flip('web','wh')">
        <h4><div id="wh" style="display:inline">&#x21E8;</div>Website Details</h4>
    </a>
    <div id="web" style="display:none">
    <p>Your nickname will be used throughout the site to identify you, e.g. on the
    list of signups for an event. If you don't specify a nickname, your real name
    will be used instead. Your nickname (or real name) and website (URL and title)
    will appear on the member list page (and any other public list of members) only
    if you allow the details to be published.</p>
    {# replace the following with django forms #}
        <form action="/member/details/" method="post">
        <p>
            <label for="id_nick">Nickname:</label>
            <input id="id_nick" type="text" name="name" value="{{ name }}"/>
        </p>
        <p>
            <label for="id_url">Website URL:</label>
            <input id="id_url" type="text" name="url" value="{{ url }}"/>
        </p>
        <p>
            <label for="id_title">Website Title:</label>
            <input id="id_title" type="text" name="title" value="{{ title }}"/>
        </p>
        <p>
            <label for="id_pub">Publish Details?:</label>
            {% if publish_details %}
                <input id="id_pub" type="checkbox" name="publish" checked="yes"/>
            {% else %}
                <input id="id_pub" type="checkbox" name="publish" />
            {% endif %}
        </p>
        <input type="submit" value="save details" />
    </form>
    <hr />
    </div>

</div>
{% endblock %}


