{% extends "memberinfo/base.html" %}

{% block sidebar %}
<a href="/password/">change password</a>

{% endblock %}

{% block content %}
<h1>Compsoc Member Profile</h1>

<h2>Shell Account</h2>
{% if shell %}
    {% if shell.isPresent %}
        You have a shell account with the username "{{ shell.name }}"
    {% else %}
        You have requested a shell account with the username "{{ shell.name }}"
    {% endif %}
{% else %}
    You don't have a shell account, you may request one here.
    <form action="/member/shell/" method="post">
        <input type="text" name="shell" />
        <input type="submit" value="request" />
    </form>
{% endif %}
<hr />

<h2>Database Account</h2>
{% if db %}
    {% if db.isPresent %}
        You have a database account with the username "{{ db.name }}"
    {% else %}
        You have requested a database account with the username "{{ db.name }}"
    {% endif %}
{% else %}
    You don't have a database account, you may request one here.
    <form action="/member/database/" method="post">
        <input type="text" name="db" />
        <input type="submit" value="request" />
    </form>
{% endif %}
<hr />

<h2>Quota</h2>
<p>Your total quota is {{ total_quota }}MB.</p>
<p>The current base quota is 1000MB and you have additionally bought {{ quota }}
blocks of extra quota.</p>
{% if req_quota %}
    <p>You have {{ req_quota }}MB of quota on request.</p>
{% endif %}
<p>Disk quota currently costs £2.50 for 500MB and more can be requested here.
The society treasurer will contact you, in order to obtain payment.</p>
<!-- TODO: some client side input validation -->
<form action="/member/quota/" method="post">
    <input type="text" name="quota" />
    <input type="submit" value="request" />
</form>
<hr />

<h2>Mailing Lists</h2>
<form action="/member/lists/" method="post">
<table>
{% for list in my_lists %}
    <tr>
        <td><input type="checkbox" name="{{ list }}" checked="yes" /></td>
        <td>{{ list }}</td>
    </tr>
{% endfor %}
{% for list in other_lists %}
    <tr>
        <td><input type="checkbox" name="{{ list }}" /></td>
        <td>{{ list }}</td>
    </tr>
{% endfor %}
</table>
<input type="submit" value="set" />
</form>
<hr />

<h2>Website Details</h2>
<p>Your nickname will be used throughout the site to identify you, e.g. on the
list of signups for an event. If you don't specify a nickname, your real name
will be used instead. Your nickname (or real name) and website (URL and title)
will appear on the member list page (and any other public list of members) only
if you allow the details to be published.</p>
<table>
    <form action="/member/details/" method="post">
    <tr>
        <td>Nickname:</td>
        <td><input type="text" name="name" value="{{ name }}"/></td>
    <tr>
    <tr>
        <td>Website URL:</td>
        <td><input type="text" name="url" value="{{ url }}"/></td>
    <tr>
    <tr>
        <td>Website Title:</td>
        <td><input type="text" name="title" value="{{ title }}"/></td>
    <tr>
    <tr>
        <td>Publish Details?:</td>
        {% if publish_details %}
            <td><input type="checkbox" name="publish" checked="yes"/></td>
        {% else %}
            <td><input type="checkbox" name="publish" /></td>
        {% endif %}
    <tr>
    <tr>
        <td></td>
        <td><input type="submit" value="save details" /></td>
    </tr>
    </form>
</table>
<hr />

<!--<h2>Change Website Password</h2>
    <form action="member/password/" method="post">
        <input type="text" name="password" />
        <input type="submit" value="change" />
    </form>
<hr />-->

{% endblock %}


