
<!--
<link rel="stylesheet" type="text/css" href="http://www2.warwick.ac.uk/static_war/apps/livemap/map.css">
<link rel="stylesheet" href="http://static0.www2.warwick.ac.uk/static_war/render/css/packed/pack5.css.081113161153" type="text/css">

<link rel="stylesheet" title="No Accessibility" href="http://static0.www2.warwick.ac.uk/static_war/render/css/packed/noaccessibility.css.081113161153" type="text/css">
<link rel="alternate stylesheet" title="Show Accessibility" href="http://static0.www2.warwick.ac.uk/static_war/render/css/packed/showaccessibility.css.081113161153" type="text/css">
<link rel="stylesheet" href="http://static2.www2.warwick.ac.uk/static/about/site.css" type="text/css">
<link rel="stylesheet" href="http://static2.www2.warwick.ac.uk/static_war/render/css/packed/print.css.081113161153" type="text/css" media="print">
-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="http://static2.www2.warwick.ac.uk/static_war/render/css/packed/ielt7.css.081113161153" type="text/css">
<![endif]-->

<!--[if IE 5]>
<link rel="stylesheet" href="http://static2.www2.warwick.ac.uk/static_war/render/css/packed/ie5.css.081113161153" type="text/css">
<![endif]-->

<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/libs/prototype.js"></script>
<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/libs/scriptaculous.js"></script>
<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/libs/effects.js"></script>
<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/navigable_list.js"></script>
<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/libs/lightbox/js/lightbox.js"></script>
<script type="text/javascript" src="http://www2.warwick.ac.uk/static_war/render/scripts/scraps.js"></script>
