<div id="mainContent">
<!--[if lt IE 7]>
      <link rel="stylesheet" type="text/css" href="http://www2.warwick.ac.uk/static_war/apps/livemap/map-ie.css">
<![endif]--> <script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2"></script>

<script src="http://www2.warwick.ac.uk/static_war/apps/livemap/map.min.js"></script>

<div id="mapAnchor"> 
  <div id="mapContainerWrapper" style="position:relative;"> 
    <div id="mapContainer" style="position:relative; width:100%; height:450px;"></div>

  </div>

</div>
</div>

