{% extends "base.html" %}

{% load markup %}

{% block ttitle %}{{ title }}{% endblock %}

{% block contact %}
    {% ifequal slug "contact" %}
        class="active"
    {% endifequal %}
{% endblock %}

{% block about %}
    {% ifnotequal slug "contact" %}
        class="active"
    {% endifnotequal %}
{% endblock %}

{% block sidebar %}
<ul>
    {% for slug,name in peers %}
        {% ifequal name title %}
        <li><strong>{{ name }}</strong>
            <ul>
                {% for slug,name in children %}
                    <li><a href="/cms/{{ slug }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li><a href="/cms/{{ slug }}">{{ name }}</a></li>
        {% endifequal %}
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
	<div class="post">
		{% if user.is_staff %}<a class="edit" href="/admin/cms/page/{{ page_id }}/">edit</a>{% endif %}
		<h1 class="title">{{ title }}</h1>
    	{{ text|markdown }}
	</div>
{% endblock%}
