{% extends "base.html" %}

{% load markup %}

{% block ttitle %}{{ title }}{% endblock %}

{% block contact %}
    {% ifequal slug "contact" %}
        class="active"
    {% endifequal %}
{% endblock %}

{% block about %}
    {% ifnotequal slug "contact" %}
        class="active"
    {% endifnotequal %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li>
            <h2>Browse</h2>
<ul class="cms">
    {% for page_url,name in breadcrumbs %}
        {% if not forloop.first %}
            {% if not forloop.last %}
                <li>&rsaquo;&nbsp;<a href="{{ page_url }}">{{ name }}</a>
                <ul>
            {% else %}
                <li>&rsaquo;&nbsp;{{ name }}
                <ul>
                {% for page_url,name in children %}
                    <li>&rsaquo;&nbsp;<a href="{{ page_url }}">{{ name }}</a></li>
                {% endfor %}
                </ul></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for page_url,name in siblings %}
        <li>&rsaquo;&nbsp;<a href="{{ page_url }}">{{ name }}</a></li>
    {% endfor %}
    {% for a,b in breadcrumbs %}
        {% if not forloop.first %}{% if not forloop.last %}</ul></li>{% endif %}{% endif %}
    {% endfor %}
</ul>
		</li>
	</ul>
{% endblock %}

{% block content %}
	<div class="post">
		{% if user.is_staff %}<a class="edit" href="/admin/cms/page/{{ page_id }}/">edit</a>{% endif %}
		<h1 class="title">{{ title }}</h1>
    	{{ text|markdown }}
	</div>
{% endblock%}
