{% extends "cms/admin/base.html" %}

{% block content %}
    {% if form.subject.errors %}
        <ol>
        {% for error in form.message.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if id %}
        <form action="/admin/cms/page/{{ id }}/" method="POST">
    {% else %}
        <form action="/admin/cms/page/add/" method="POST">
    {% endif %}
        {{ form.as_p }}
        <input type="submit" value="submit" />
    </form>
{% endblock %}

