{% extends "cms/admin/base.html" %}

{% block sidebar %}
    <ul>
        <li>
            <h2>CMS Admin</h2>
            <ul>
                <li><a href="/admin/cms/page/">Page List</a></li>
            </ul>
		</li>
        <li>
            <h2>Revisions</h2>
            <ul>
			    {% for comment,id in comments %}
			        <li><a href="/admin/cms/pagerevision/{{ id }}/">{{ comment }}</a></li>
			    {% endfor %}
            </ul>
		</li>
	</ul>
{% endblock %}

{% block content %}
    {% if form.subject.errors %}
        <ol>
        {% for error in form.message.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
	<div class="box">
    {% if id %}
        <form action="/admin/cms/page/{{ id }}/" method="post">
    {% else %}
        <form action="/admin/cms/page/add/" method="post">
    {% endif %}
        {{ form.as_p }}
		<div class="input">
			<input type="submit" value="submit" />
		</div>
		</form>
	</div>
{% endblock %}

