{% extends "base.html" %}

{% block sidebar-outer %}{% endblock %}

{% block content %}

<img src="/static/img/404.jpg" alt="This page was not found" title="I have no idea what you're talking about..." />
<p>Sorry, the page that was requested could not be found. This could be because:</p>
<ul>
    <li>You are too lame for this page</li>
    <li>You need to take typing lessons</li>
    <li>The page no longer exists</li>
    <li>You followed a broken link</li>
    <li>Martians came and ate it</li>
</ul>
{% endblock %}
