<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="pngfix.js"></script>
		<![endif]-->

<meta http-equiv="content-type" content="text/html; charset=utf-8"><title>Warwick Computing Society</title>

<meta name="keywords" content="">
<meta name="description" content="">
<link href="/static/css/compsoc.css" rel="stylesheet" type="text/css" media="screen"></head>
{% block morehead %}{% endblock %}

<body>
{% block pretitle %}{% endblock %}
<!-- start header -->
<div id="header">
    <div id="login">
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        <a href="/member/">profile</a>
        <a href="/logout/">logout</a>
    {% else %}
        <a href="/login/">login</a>
    {% endif %}
    </div>
	<div id="logo">
		<img src="/static/img/si_logo_small.png" />
		<h1><a href="/">Warwick Computing Society</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li {% block home %}{% endblock %} ><a href="/">Home</a></li>
			<li {% block events %}{% endblock %} ><a href="/events/">Events</a></li>
			<li {% block about %}{% endblock %} ><a href="/cms/about">About</a></li>
			<li {% block contact %}{% endblock %} ><a href="/cms/contact">Contact </a></li>
            {% if user.is_staff %}
                <li {% block adminu %}{% endblock %}><a href="/admin">Admin</a></li>
            {% endif %}
		</ul>
	</div>
    {% block nav-global %}{% endblock %}
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
    {% block content_title %}{% endblock %}
    {% block breadcrumbs %}
        {% if breadcrumbs %}
            {% for url,name in breadcrumbs %}
                <a href="/cms/{{ url }}">{{ name }}</a>
                {% if not forloop.last %}
                   &rsaquo; 
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    </div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">{% block sidebar %}{% endblock %}</div>
	<!-- end sidebar -->
</div>
{% block footer %}{% endblock %}
<!-- end page -->
</body></html>
