{% extends "base.html" %}

{% block sidebar-outer %}{% endblock %}

{% block content %}

{% if form.errors %}
<p class="notification">Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="box">
	<h2>Login</h2>
	<form method="post" action=".">
	<div>
		{{ form.username.label_tag }}
		{{ form.username }}
		<div style="clear: both;"></div>
		{{ form.password.label_tag }}
		{{ form.password }}

	    <input type="submit" value="login" />
	    <input type="hidden" name="next" value="/" />
	</div>
	</form>
	<div style="clear: both;"></div>
</div>


<div class="box">
	<h2>Password Reset</h2>
    <p>If you have forgotten your password, you can reset it.  A new password will be automatically emailed to you, at your contact email address.</p>
    <form method="post" action="/member/reset/">
	<div>
        <label for="reset_username">Username</label><input type="text" name="user_name" id="reset_username" />
        <input class="clear" type="submit" value="reset" />
	</div>
    </form>
	<div style="clear: both;"></div>
</div>

<div class="box">
	<h2>Guest Account</h2>
    <p>If you wish to request a guest account please complete the following form.</p>
    <form method="post" action="/member/guest/">
	<div>
        <label for="guest_name">Name</label>
		<input type="text" name="name" id="guest_name" />
		<div style="clear: both;"></div>
		<label for="guest_email">Email</label>
		<input type="text" name="email" id="guest_email" />
		
		<input type="submit" value="request" />
	</div>
    </form>
	<div style="clear: both;"></div>
</div>

{% endblock %}
