{% extends "base.html" %}

{% block sidebar-outer %}{% endblock %}

{% block content %}

<div class="box">
<h2>Password change</h2>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can check you typed it in correctly.</p>

<form action="" method="post">

<table>
    {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
    <tr><td><label for="id_old_password">Old password:</label></td><td>{{ form.old_password }}</td></tr>
    {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
    <tr><td><label for="id_new_password1">New password:</label></td><td>{{ form.new_password1 }}</td></tr>
    {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
    <tr><td><label for="id_new_password2">Confirm password:</label></td><td>{{ form.new_password2 }}</td></tr>
</table>

<p><input type="submit" value="Change my password" /></p>
</form>
<div style="clear: left;"></div>
</div>
{% endblock %}
