{% extends "base.html" %}

{% block sidebar-outer %}{% endblock %}

{% load truncate %}

{% block content %}
{% if results %}
    <p>Results for {{ forwhat }}:</p>
    <ul>
    {% for result in results %}
        <li>
          <div class="search_result">
            <a href="{{ result.get_absolute_url }}">{{ result }}</a>
            {% if result.get_type_display %}({{ result.get_type_display }}){% endif %}<br />
            <div class="result_text">
            {% if not user.is_authenticated and result.login %}
                You need to log in to see this page.
            {% else %}
                {{ result.text|truncate:60 }}
            {% endif %}
            </div>
          </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p class="notification">There were no search results for {{ forwhat }}.</p>
{% endif %}
{% endblock %}
