{% extends "base.html" %}

{% block ttitle %}IRC Quotes Pages{% endblock %}

{% block content %}

<h1>Quotes</h1>
<p>Quotes taken from the databases of the IRC bot that hangs out in #compsoc,
known to its friends as BadgerBOT, but mostly as 'that damn bot'.</p>

<h3>Disclaimer</h3>
<p>These quotes are taken directly from the CompSoc IRC bot, BadgerBOT, which
hangs around on our IRC server. As such, these quotes could come from anyone, a
member of CompSoc or the University, or neither, so no guarantee can be made as
to the nature of these quotes. Because of this, CompSoc, and the University of
Warwick, take no responsibility for the content of these quotes.</p>

{%block morecontent %}{% endblock %}

{% endblock %}
