{% extends "base.html" %}

{% block events %}class="active"{% endblock %}

{% block morehead %}
    <link href="/static/css/events.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block sidebar %}
    <ul>
        <li>
            <h2>Events</h2>
            <ul>
                <li><a href="/events/">events list</a></li>
            </ul>
        </li><li>
            <h2>Calendar</h2>
            <ul>
                {% if prev %}
                    <li><a href="/events/calendar/{{ prev }}">previous week</a></li>
                {% else %}
                    <li><a href="/events/calendar/-1">previous week</a></li>
                {% endif %}
                <li><a href="/events/calendar/">current week</a></li>
                {% if next %}
                    <li><a href="/events/calendar/{{ next }}">next_week</a></li>
                {% else %}
                    <li><a href="/events/calendar/1">next week</a></li>
                {% endif %}
            </ul>
        </li>
        {% include "events/future.html" %}
        <li>
            <h2>Feeds</h2>
            <ul>
                <li><a href="/feeds/events/">RSS</a></li>
                <li><a href="/feeds/events/atom/">Atom</a></li>
                <li><a href="/events/ical/">ical</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
