{% extends "events/base.html" %}

{% block content %}

<table id="calendar" border="1">
    <tr>
        <th>Week Begin</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
    </tr>
    {% for week_begin,week_contents in events %}
    <tr>
        <td>{{ week_begin }}</td>
        {% for day,day_contents in week_contents %}
            <td>
            {{ day }}
            {% for event in day_contents %}
            <br /><a href="/events/details/{{ event.id }}">{{ event.shortDescription }}</a>
            {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
