{% extends "events/base.html" %}

{% block content %}
<h1>Event Details for {{ event.type.name }}</h1>
{% if can_edit %}
<p><a href="/admin/events/event/1/"/>edit</a></p>
{% endif %}

<table>
<tr><td>Event: </td><td>{{ event.shortDescription }}</td></tr>
<tr><td>Location: </td><td>{{ event.location }}</td></tr>
<tr><td>Date: </td><td>{{ event.time_string }}</td></tr>
<tr><td>Notes: </td><td>{{ event.longDescription }}</td></tr>
<tr><td>General Information</td><td>{{ event.type.info }}</td></tr>
{% if event.signupsRequired %}
<tr><td>Signups</td><td>{{ event.signup_set.count }}/{{ limit }}
    <table>
    <tr><td>Fresher Signups Open</td><td>{{ fresher }}</td></tr>
    <tr><td>Member Signups Open</td><td>{{ open }}</td></tr>
    <tr><td>Guest Signups Open</td><td>{{ guest }}</td></tr>
    <tr><td>Signups Close</td><td>{{ close }}</td></tr>
    </table>
</td></tr>
{% if has_seating %}
<tr><td>Seating plan: <a href="seating/{{ event.id }}">here</a></td></tr>
{% endif %}
{% endif %}
</table>
{% if event.signupsRequired %}
    <table>
        <tr><th>Member</th><th>Comment/Options</th></tr>
        {% if signups %}
            {% for signup in signups %}
                <tr><td>{{ signup.user.username }}</td><td>{{ signup.comment }}</td></tr>
                <tr><td>{{ signup.time_form }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="2">There are no signups yet.</td></tr>
        {% endif %}
    </table>
{% endif %}

{% endblock %}

{% block sidebar %}
    {% if can_signup %}
    <form action="/events/signup/{{ event.id }}/" method="post">
        <input type="text" name="comment" />
        <input type="submit" value="signup" />
    </form>
    {% endif %}
    {% if signed_up %}
        <a href="/events/unsignup/{{ event.id }}/">unsignup</a>
    {% endif %}
{% endblock %}
