{% extends "events/base.html" %}

{% block ttitle %}Event Details for {{ event.type.name }}{% endblock %}

{% block content %}
<div class="post">
    <h1 class="title">Event Details for {{ event.type.name }}</h1>
    <p class="byline"><small>when: {{ event.time_string }} | 
        {% if can_edit %}
        <a href="/admin/events/event/{{ event.id }}/">Edit</a></small>
        {% endif %}
    </p>
    <div class="entry">
        <table>
        <tr><th>Event: </th><td>{{ event.shortDescription }}</td></tr>
        <tr><th>Location: </th><td>{{ event.location }}</td></tr>
        {% if event.has_signups %}
            <tr><th>Signups</th><td>{{ event.signup_set.count }}/{{ limit }}</tr>
            <tr><th></th><td>
                <table>
                    <tr><th>Fresher Signups Open</th><td>{{ fresher }}</td></tr>
                    <tr><th>Member Signups Open</th><td>{{ open }}</td></tr>
                    <tr><th>Guest Signups Open</th><td>{{ guest }}</td></tr>
                    <tr><th>Signups Close</th><td>{{ close }}</td></tr>
                </table>
            </td></tr>
        {% endif %}
        <tr><th>Notes: </th><td>{{ event.longDescription }}</td></tr>
        <tr><th>General Information:</th><td>{{ event.type.info }}</td></tr>
        </table>
        {% if has_seating %}
            <p>Seating plan: <a href="/events/seating/{{ event.id }}">here</a></p>
        {% endif %}
        {% if event.has_signups %}
            <div id="comments">
            <table >
                <tr><th>Member</th><th>Comment/Options</th></tr>
                {% if signups %}
                    {% for signup in signups %}
                        <tr>
                            <td>
                                {{ signup.user.username }}<br />
                                <div class="time">{{ signup.time_form }}</div>
                            </td>
                            <td>{{ signup.comment }}</td>
                        </tr>
                    {% endfor %}
                    {% if reserved %}
                        <tr><th colspan="2">Reserves</th></tr>
                        {% for signup in reserved %}
                            <tr>
                                <td>
                                    {{ signup.user.username }}<br />
                                    <div class="time">{{ signup.time_form }}</div>
                                </td>
                                <td>{{ signup.comment }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <tr><td colspan="2">There are no signups yet.</td></tr>
                {% endif %}
            </table>
        {% endif %}
    </div>
    <p class="meta">
        {% if can_signup %}
        <form action="/events/signup/{{ event.id }}/" method="post">
            <input type="text" name="comment" />
            <input type="submit" value="signup" />
        </form>
        {% endif %}
        {% if signed_up %}
            <a href="/events/unsignup/{{ event.id }}/">unsignup</a>
        {% endif %}
    </p>
</div>

{% endblock %}
