{% extends "events/base.html" %}

{% block ttitle %}LAN Friends{% endblock %}

{% block content %}

<h2 class="title">LAN Friends</h2>

<p>A LAN Friend is someone who you often sit beside at LANs.</p>

<table>
    <thead>
    <tr>
        <th>Member</th>
        <th>LAN Friend</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {% for user,friend,score in friends %}
        <tr>
            <td>{{ user.member.name }}</td>
            <td>{{ friend.member.name }}</td>
            <td>{{ score }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
