{% extends "events/base.html" %}

{% block ttitle %}Events List{% endblock %}

{% block content %}
<p class="calendar-key">
<b>Key:</b> <span class="eventpast">past event</span>
            <span class="eventrunning">now running</span>
    {% if user.is_staff %} <span class="eventhidden">not yet shown</span>{% endif %}
</p>

<ul id="eventlist">
    {% for week,entries in events %}
    <li><ul class="week">
        <li class="weekno"><span>Week {{ week.week_number }}</span></li>
        <li class="fullweek"><span>{{ week }}</span></li>
        <li class="events"><ul>
            {% for event in entries %}
			<li class="name {% if event.is_running %}eventrunning {% else %}{% if event.is_in_past %}eventpast {% endif %}{% endif %}{% if not event.is_public_yet %}eventhidden{% endif %}"><a href="details/{{ event.id }}">{{ event.type.name }}</a>

            <ul class="{% if not event.is_public_yet %}eventhidden {% endif %}eventdetail">
                <li class="time">{{ event.time_string }}</li>
                <li class="location">Location: {{ event.location }}</li>

                {% if event.has_signups %}
                <li class="signups">Signups: {{ event.signup_count }}/{{ event.signup_total }}</li>
                {% endif %}

                <li class="description">

                {% if event.cancelled %}<del>{% endif %}
                {{ event.shortDescription }}
                {% if event.cancelled %}</del>{% endif %}
                </li>
            </ul></li>
            {% endfor %}
        </ul></li>
    </ul></li>
    {% endfor %}
</ul>
{% endblock %}
