{% extends "events/base.html" %}

{% block ttitle %}Events List{% endblock %}

{% block content %}
<table id="events_table">
<tr id="events_head"><th>Event</th><th>When</th><th>Location</th><th>Signups</th></tr>
{% for week,entries in events %}
    <tr>
        <th>Week {{ week.week_number }}</th>
        <th colspan="3">{{ week }}</th>
    </tr>
    {% for event in entries %}
        <tr>
            <td><a href="details/{{ event.id }}">{{ event.type.name }}</a></td>
            <td class="time">{{ event.time_string }}</td>
            <td>{{ event.location }} </td>
            {% if event.has_signups %}
                <td>{{ event.signup_count }}/{{ event.signup_total }}</td>
            {% else %}
                <td>N/A</td>
            {% endif %}
        </tr>
        <tr>
            <td class="short_desc" ></td>
            <td class="short_desc" colspan="3" >{{ event.shortDescription }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
