{% extends "events/base.html" %}

{% block ttitle %}Location Details for {{ object.name }}{% endblock %}

{% block morehead %}
    {% include "common/maps_head.html" %}
{% endblock %}

{% load markup %}

{% block content %}
	{% if user.is_staff %}<a class="edit" href="/admin/events/location/{{ object.id }}/">Edit</a>{% endif %}
    <h2 class="title">{{ object.name }}</h2>
    <br />
    <img src="{{ object.image_url}}"/>
    <br />
    <hr />
    <br />
<!--
    {# include "common/maps.html" 
    <br />
    <hr />
    <br />#}
-->
    {{ object.description|textile }}

{% endblock %}
