{% extends "events/base.html" %}

{% block ttitle %}{{ event.type.name }} Seating Plan{% endblock %}

{% load number %}

{% block morehead %}
<link href="/static/css/events.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/css/seating.css" rel="stylesheet" type="text/css" media="screen" />

    {% if seating %}
        <script type="text/javascript" src="/static/js/seating.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            {% for col in seating %}
                Seating.initialiseContainer($('#col{{ forloop.counter0 }}')[0]);
            {% endfor %}
            Seating.initialiseContainer($('#unassigned')[0]);
            Seating.initialiseContainer($('#unassigned_empty')[0]);
            Seating.fillOrderField()
        });
        </script>
    {% endif %}
{% endblock %}

{% block content %}

{% if seating %}
<div id="seating">
    <h2>{{ room.name }}</h2>
    <h3 class="title">Seating plan for <a href="/events/details/{{ event.id }}/">{{ event.type.name }}</a>,
        held in <a href="{{ room.room.get_absolute_url }}">{{ room }}</a></h3>
    <p class="byline"><small>{{ event.time_string }}</small></p>
    <p class="calendar-key">
        <span class="added">added</span>
        <span class="moved">moved</span>
        <span class="removed">removed</span>
        <span class="unsignedup">no longer signed up</span>
    </p>
    <!-- visual seating plan goes here. -->
<table class="seating">
    <tbody><tr>
        <th colspan="1"></th>
            <th colspan="4"></th>
            <th colspan="2">Doors</th>

    </tr><tr>
        <th colspan="1">Unassigned</th>
        {% for col in seating %}
            {% if forloop.counter0|divisibleby:"2" %}
                <th colspan="2">Table {{ forloop.counter0|tableno }}</th>
            {% endif %}
        {% endfor %}
    </tr><tr>
    <td>
        <ul id="unassigned_empty" class="seating">
            <li class="empty">(empty)</li>
        </ul>
        <ul id="unassigned" class="seating">
        {% for user,type in unassigned %}
            {% if user %}
                <li id="{{ user.id }}"
                    title="{{ user.member.all_name }}"
                    class="{{ type }}">
                    {{ user.member.name }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </td>
    
    {% for col in seating %}
    <td>
    <ul id="col{{ forloop.counter0 }}" class="seating seating{{forloop.counter0|colside}}">
        {% for user,type in col %}
            {% if user %}
                <li id="{{ user.id }}"
                    title="{{ user.member.all_name }}"
                    class="{{ type }}">
                    {{ user.member.name }}</li>
            {% else %}
                <li class="empty">(empty)</li>
            {% endif %}
        {% endfor %}
    </ul>
    </td>
    {% endfor %}
    </tr>
    </tbody>
</table>
	
	<ul id="comments">
		<li id="commentheader"><ul>
			<li class="rev">Revision</li>
			<li class="creator">Creator</li>
			<li class="comment">Comment</li>
		</ul></li>
		{% if user.is_authenticated %}
		{% if notclosed %}
		<li class="newrevision"><ul>
			<li class="rev">{{ new_revision_no }} (new)</li>
			<li class="creator" title="{{ user.member.all_name }}">{{ user.member.name }}</li>
			<li class="comment">
				<div class="form">
				<form action="" method="post">
					<input class="text" type="text" name="comment" maxlength="30" size="50" />
					<input class="submit" type="submit" value="Save" title="Save New Revision" onclick="return checkPlan({{ max_rows }});" />
					<input type="hidden" name="order" id="order" value="" />
				</form>
				</div>
			</li>
		</ul></li>
		{% endif %}
		{% endif %}
		{% for revision in seating_revisions %}
			<li class="revision"><ul>
				<li class="rev"><a href="/events/seating/{{ event.id }}/{{ revision.number }}">{{ revision.number }}</a></li>
				<li class="creator" title="{{ revision.creator.member.all_name }}">{{ revision.creator.member.name }}</li>
				<li class="comment">{{ revision.comment }}</li>
			</ul></li>
		{% endfor %}
	</ul>
</div>
 {% else %}
    <p class="notification">No seating plan available for {{ event.type.name }}, {{ event.start }}.</p>
{% endif %}

{% endblock %}
